Repository pokt-network/organization, pull requests merged in 2021-01, with the labels that each got.

#18 Rank Voting proposal January 8 2021
  proposals/1-08-01-2020/private-validator-key-encryption.md
  proposals/1-08-01-2020/tx-indexer-milestone-proposal.md
Labels: Proposal

#19 Infrastructure budget optimization - RVP 1/8/2021
  proposals/1-08-01-2020/infrastructure-budget-optimization.md
Labels: Proposal

#20 Ethereum node improvement - RVP 1/8/2021
  proposals/1-08-01-2020/ethereum-node-improvement.md
Labels: Proposal

#21 Pocket deployment artifacts documentation - RVP 1/8/2021
  proposals/1-08-01-2020/pocket-deployment-artifacts-documentation.md
Labels: Proposal, documentation

#22 Proposals 1/21
  proposals/1-08-01-2020/network-fix.md
  proposals/1-08-01-2020/statefulsets.md
Labels: Proposal

#24 6.0 milestone proposal
  proposals/1-08-01-2020/RC-0.6.0.md
Labels: Proposal

#25 QA Certification Framework Proporsal Submission
  proposals/qa-certification-framework-documentation.md
Labels: Proposal, documentation

#27 Proposals: Tendermint Visibility Improvements & Validator hard disk usage Improvements
  proposals/1-08-01-2020/tendermint-visibility-improvements.md
  proposals/1-08-01-2020/validator-hard-disk-Usage-Improvement.md
Labels: Proposal

#28 Added handbook proposal
  proposals/1-08-01-2020/handbook.md
Labels: Proposal

#31 Unstake legacy validators - RVP 1/8/2021
  proposals/1-08-01-2020/unstake-legacy-validator-nodes.md
Labels: Proposal, documentation

#36 Replaced QA cert proporsal
  proposals/1-08-01-2020/qa-certification-framework-documentation.md
Labels: Proposal, documentation

#37 Fixed placement
  proposals/1-08-01-2021/qa-certification-framework-documentation.md
Labels: Proposal, documentation

#38 PocketJS-Refacor/PocketJS-Amino-to-Protobuf/Gateway-Stability-Effort
  proposals/1-08-01-2021/gateway-stability-effort.md
  proposals/1-08-01-2021/pocket-js-amino-to-protobuf.md
  proposals/1-08-01-2021/pocket-js-refactor.md
Labels: Proposal

#42 Emedrano2112 rank voting
  rank-votes/1-08-01-2021/emedrano2112.md
Labels: documentation, voting

#44 wgarcia4190 rank voting #42
  rank-votes/1-08-01-2021/wilsongarcia.md
Labels: documentation, voting

#43 added vote
  rank-votes/1-08-01-2021/pabelnl.md
Labels: documentation, voting

#49 Issue #48 Groundwork
  milestones/1-08-01-2021/6.0/certification/cert_feedback.md
  milestones/1-08-01-2021/6.0/certification/certification.md
  milestones/1-08-01-2021/6.0/milestone.md
  milestones/1-08-01-2021/6.0/projects/architectural_doc/project.md
  milestones/1-08-01-2021/6.0/projects/backwards_compat/project.md
  milestones/1-08-01-2021/6.0/projects/backwards_compat/qa.md
  milestones/1-08-01-2021/6.0/projects/backwards_compat/qa_strategy.md
  milestones/1-08-01-2021/6.0/projects/benchmark_test/project.md
  milestones/1-08-01-2021/6.0/projects/benchmark_test/qa.md
  milestones/1-08-01-2021/6.0/projects/benchmark_test/qa_strategy.md
  milestones/1-08-01-2021/6.0/projects/development_doc/project.md
  milestones/1-08-01-2021/6.0/projects/func_test/project.md
  milestones/1-08-01-2021/6.0/projects/func_test/qa.md
  milestones/1-08-01-2021/6.0/projects/func_test/qa_strategy.md
  milestones/1-08-01-2021/6.0/projects/load_test/project.md
  milestones/1-08-01-2021/6.0/projects/load_test/qa.md
  milestones/1-08-01-2021/6.0/projects/load_test/qa_strategy.md
  milestones/1-08-01-2021/6.0/projects/release_notes/project.md
  milestones/1-08-01-2021/6.0/projects/unit_test/project.md
  milestones/1-08-01-2021/6.0/projects/unit_test/qa.md
  milestones/1-08-01-2021/6.0/projects/unit_test/qa_strategy.md
  milestones/1-08-01-2021/6.0/projects/upgrade_sim/project.md
  milestones/1-08-01-2021/6.0/projects/upgrade_sim/qa.md
  milestones/1-08-01-2021/6.0/projects/upgrade_sim/qa_strategy.md
  milestones/1-08-01-2021/6.0/projects/user_guide/project.md
  milestones/1-08-01-2021/6.0/qa.md
  milestones/1-08-01-2021/6.0/qa_strategy.md
  milestones/1-08-01-2021/README.md
  rank-votes/1-08-01-2021/andrewnguyen.md
Labels: milestone
