Repository pokt-network/organization, pull requests merged in 2021-04, with the labels that each got.

#84 Added RIA's for the different transition tasks carried over
  ria/2-11-02-2021/easy-2-stake-support.md
  ria/2-11-02-2021/ecosystem-hiring.md
  ria/2-11-02-2021/ecosystem-transition-meetings.md
  ria/2-11-02-2021/ethers-js.md
Labels: RIA

#97 Support Engineering RIAs completed
  ria/3-08-04-2021/app-solutions-wallet-support.md
  ria/3-08-04-2021/ecosystem-dashboard-support.md
Labels: RIA, documentation

#99 Completed QA documentation for RC-0.6.0 milestone
  milestones/1-08-01-2021/6.0/certification/qa_certification.md
  milestones/1-08-01-2021/6.0/qa.md
  milestones/1-08-01-2021/6.0/qa_strategy.md
Labels: certification, documentation

#101 Disable GKE auto upgrade
  ria/3-08-04-2021/disable-gke-auto-upgrade.md
Labels: RIA

#103 App Solutions - Wallet and Faucet troubleshooting
  ria/3-08-04-2021/app-solutions-wallet-troubleshooting.md
Labels: RIA
