Repository pokt-network/organization, pull requests merged in 2021-02, with the labels that each got.

#76 RIA: Jailed Nodes
  ria/1-08-01-2021/jailed_nodes.md
Labels: RIA

#75 RIA: Grafana/Monitoring certificate
  ria/1-08-01-2021/grafana_certificate.md
Labels: RIA

#51 Milestone: Custom tx Indexer
  milestones/1-08-01-2021/tx-indexer/certification/cert_feedback.md
  milestones/1-08-01-2021/tx-indexer/certification/certification.md
  milestones/1-08-01-2021/tx-indexer/milestone.md
  milestones/1-08-01-2021/tx-indexer/projects/benchmark_testing/project.md
  milestones/1-08-01-2021/tx-indexer/projects/benchmark_testing/qa.md
  milestones/1-08-01-2021/tx-indexer/projects/benchmark_testing/qa_strategy.md
  milestones/1-08-01-2021/tx-indexer/projects/custom_comparator/project.md
  milestones/1-08-01-2021/tx-indexer/projects/custom_comparator/qa.md
  milestones/1-08-01-2021/tx-indexer/projects/custom_comparator/qa_strategy.md
  milestones/1-08-01-2021/tx-indexer/projects/functional_testing/project.md
  milestones/1-08-01-2021/tx-indexer/projects/functional_testing/qa.md
  milestones/1-08-01-2021/tx-indexer/projects/functional_testing/qa_strategy.md
  milestones/1-08-01-2021/tx-indexer/qa.md
  milestones/1-08-01-2021/tx-indexer/qa_strategy.md
Labels: milestone

#56 Milestone: unstake-legacy-pocket-noide milestone
  milestones/1-08-01-2021/unstake-legacy-pocket-node/certification/cert_feedback.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/certification/certification.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/milestone.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/architectural_doc/project.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/backwards_compat/project.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/backwards_compat/qa.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/backwards_compat/qa_strategy.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/benchmark_test/project.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/benchmark_test/qa.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/benchmark_test/qa_strategy.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/development_doc/project.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/func_test/project.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/func_test/qa.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/func_test/qa_strategy.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/load_test/project.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/load_test/qa.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/load_test/qa_strategy.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/release_notes/project.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/unit_test/project.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/unit_test/qa.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/unit_test/qa_strategy.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/upgrade_sim/project.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/upgrade_sim/qa.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/upgrade_sim/qa_strategy.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/projects/user_guide/project.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/qa.md
  milestones/1-08-01-2021/unstake-legacy-pocket-node/qa_strategy.md
Labels: milestone

#58 Milestone: pocket-deployment-artifacts-documentation
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/certification/cert_feedback.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/certification/certification.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/milestone.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/architectural_doc/project.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/backwards_compat/project.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/backwards_compat/qa.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/backwards_compat/qa_strategy.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/benchmark_test/project.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/benchmark_test/qa.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/benchmark_test/qa_strategy.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/development_doc/project.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/func_test/project.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/func_test/qa.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/func_test/qa_strategy.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/load_test/project.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/load_test/qa.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/load_test/qa_strategy.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/release_notes/project.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/unit_test/project.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/unit_test/qa.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/unit_test/qa_strategy.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/upgrade_sim/project.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/upgrade_sim/qa.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/upgrade_sim/qa_strategy.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/projects/user_guide/project.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/qa.md
  milestones/1-08-01-2021/pocket-deployment-artifacts-documentation/qa_strategy.md
Labels: milestone

#60 Milestone: Infrastructure budget optimization
  milestones/1-08-01-2021/infrastructure-budget-optimization/certification/cert_feedback.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/certification/certification.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/milestone.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/architectural_doc/project.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/backwards_compat/project.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/backwards_compat/qa.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/backwards_compat/qa_strategy.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/benchmark_test/project.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/benchmark_test/qa.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/benchmark_test/qa_strategy.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/development_doc/project.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/func_test/project.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/func_test/qa.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/func_test/qa_strategy.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/load_test/project.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/load_test/qa.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/load_test/qa_strategy.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/release_notes/project.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/unit_test/project.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/unit_test/qa.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/unit_test/qa_strategy.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/upgrade_sim/project.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/upgrade_sim/qa.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/upgrade_sim/qa_strategy.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/projects/user_guide/project.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/qa.md
  milestones/1-08-01-2021/infrastructure-budget-optimization/qa_strategy.md
Labels: milestone

#74 Milestone: Network fix
  milestones/1-08-01-2021/network_fix/QA.md
  milestones/1-08-01-2021/network_fix/QA_strategy.md
  milestones/1-08-01-2021/network_fix/certification/certification.md
  milestones/1-08-01-2021/network_fix/network_fix.md
  milestones/1-08-01-2021/network_fix/projects/network_fix/QA.md
  milestones/1-08-01-2021/network_fix/projects/network_fix/QA_strategy.md
  milestones/1-08-01-2021/network_fix/projects/network_fix/network_fix.md
  milestones/1-08-01-2021/network_fix/projects/network_fix/tasks/persistent_peers/QA.md
  milestones/1-08-01-2021/network_fix/projects/network_fix/tasks/persistent_peers/QA_strategy.md
  milestones/1-08-01-2021/network_fix/projects/network_fix/tasks/persistent_peers/persistent_peers.md
  milestones/1-08-01-2021/network_fix/projects/network_fix/tasks/service-update/QA.md
  milestones/1-08-01-2021/network_fix/projects/network_fix/tasks/service-update/QA_strategy.md
  milestones/1-08-01-2021/network_fix/projects/network_fix/tasks/service-update/service_update.md
Labels: milestone

#65 Filled in documentation for Functional Testing and Load Testing Projects
  milestones/1-08-01-2021/6.0/projects/func_test/project.md
  milestones/1-08-01-2021/6.0/projects/func_test/qa_strategy.md
  milestones/1-08-01-2021/6.0/projects/load_test/project.md
  milestones/1-08-01-2021/6.0/projects/load_test/qa_strategy.md
Labels: project

#85 Submitting feb proposal for BPF implementation
  proposals/2-12-2-2021/ebpf_implementation_gke.md
Labels: proposal
